* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #F1E6D9;
}

header {
    text-align: center;
    padding: 80px 20px;
    background: #FAF9F6;
}

header h1 {
    font-size: 2.5rem;
}

header p {
    margin: 20px 0;
    color: #555;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 60px 20px;
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}

.card {
    background: #f9f9f9;
    padding: 20px;
    width: 250px;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: white;
}

@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
}
